In [1]:
import pandas as pd
pd.set_option('display.max_columns', 21)
arquivo = pd.read_csv('dados/kc_house_data.csv')

In [2]:
arquivo.drop('id', axis = 1, inplace = True)
arquivo.drop('date', axis = 1, inplace = True)
arquivo.drop('zipcode', axis = 1, inplace = True)
arquivo.drop('lat', axis = 1, inplace = True)
arquivo.drop('long', axis = 1, inplace = True)

In [3]:
arquivo.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [4]:
y = arquivo['price']
x = arquivo.drop('price', axis = 1)

In [5]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.30, random_state=14)

In [6]:
def regressionModels(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    
    reg = LinearRegression()
    ridge = Ridge()
    lasso = Lasso()
    elastic = ElasticNet()
    
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino)
    
    resul_reg = reg.score(x_teste, y_teste)
    resul_ridge = ridge.score(x_teste, y_teste)
    resul_lasso = lasso.score(x_teste, y_teste)
    resul_elastic = elastic.score(x_teste, y_teste)
    
    print(f'Regressão Linear: {resul_reg} \nRegressão Ridge: {resul_ridge} \nRegressão Lasso: {resul_lasso} \nRegressão Elastic: {resul_elastic}')

In [7]:
regressionModels(x_treino, y_treino, x_teste, y_teste)

C:\Users\Usuario\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 332862131711537.8, tolerance: 209305962424.49075
  model = cd_fast.enet_coordinate_descent(

Regressão Linear: 0.6538094196281021
Regressão Ridge: 0.6539029726255619
Regressão Lasso: 0.6538117156908521
Regressão Elastic: 0.6241134858939881

C:\Users\Usuario\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 427971483633537.0, tolerance: 209305962424.49075
  model = cd_fast.enet_coordinate_descent(